<%include partials/header%>

<body>
    <div class="container">
        <form action="/search" method="POST">
            <input type="text" name="clan">
            <button type="submit">Search</button>
        </form>
    </div>
</body>

<%include partials/footer%>