@font-face{
    font-family: clashOfClans;
    src: url(fonts/Supercell-magic-webfont.woff)
}

body{
    background-color: #001219;
    color: #ee9b00;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .site-content {
    flex: 1;
  }

.clash-font{
    font-family: clashOfClans;
}

/*bootstrap overrides*/
.leader-badge{
    width: fit-content;
    background: #ee9b00;
    padding: 3px;
    border-radius: 4px;
}

.co-leader-badge{
    width: fit-content;
    background: #0a9396;
    padding: 3px;
    border-radius: 4px;
}

.clan-tag{
    font-weight: bold;
}

.custom-btn{
    background: #0a9396;
    background: #005f73;
    color: #ee9b00;
}

.custom-btn:hover, .custom-btn:focus{
    background: #005f73;
    background: #0a9396;
    color: #e9d8a6;
}

.home-leaderboard{
    color: #001219;
    border: 2px solid #d6ccc2;
    border-radius: 10px;
    margin-bottom: 5px;
}

.home-leaderboard a{
    text-decoration: none;
    color: inherit;
}

.home-leaderboard a:hover, .home-leaderboard a:focus{
    text-decoration: underline;
    color: #22333b;
}

.home-leaderboard-row{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    
}

.gold-rank{
    background: gold !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.silver-rank{
    background: silver;

}

.copper-rank{
    background: chocolate;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.img-xsmall{
    width: 75px;
    padding: 0;
    margin: 0;
}

.img-small{
    width: 150px;
    padding: 0;
    margin: 0;
}

.custom-footer{
    color: #fff;
    text-align: center;
    line-height: 0.75em;
}

.custom-hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(156, 156, 156, 0.75), rgba(0, 0, 0, 0));
}

.fa-green{
    color: green;
    font-size: 2rem;
}

.fa-red{
    color: red;
    font-size: 2rem;
}

.fa-grey{
    color: grey;
}

.font-space{
    padding-left: 10px;
}

.member-role{
    text-transform: capitalize;
}

.member-role-leader{
    font-weight: bold;
}

.player-name h3{
    color: #ee9b00;
    font-size: 2em;
}

.player-name span{
    
}

.troop-table{
    
}

@media (min-width: 576px){
    .img-xsmall{
        width: 75px;
        max-width: 100%;
    }
    .img-small{
        width: 150px;
        max-width: 100%;
    }
    .name{
        font-size: 1em;
    }
}

@media (min-width: 768px){
    .img-xsmall{
        width: 125px;
        max-width: 100%;
    }
    .img-small{
        width: 200px;
        max-width: 100%;
    }
    .img-medium{
        width: 400px;
        max-width: 100%;
    }
    .name{
        font-size: 1.5em;
    }
}

@media (min-width: 1200px){
    .img-xsmall{
        width: 200px;
        max-width: 100%;
    }
    .img-small{
        width: 300px;
    }
    .name{
        font-size: 2.2em;
    }
    .img-medium{
        width: 600px;
        max-width: 100%;
    }
    .img-large{
        width: 1000px;
        max-width: 100%;
    }
}

