.player-border{
    border: 2px solid #d6ccc2;
    border-radius: 10px;
    margin-bottom: 5px;
}

.player-card{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.player-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-card-body-profile{

}

.player-card-body-league{
    justify-content: space-evenly;
}

.player-card-label{
    float: left;
    margin-right: 10px;
}

.player-card-badge{
    border: 2px solid #d5bdaf;
    color: #0d1b2a;
    border-radius: 10px;
    background: #f5ebe0;
    float: right;
    min-width: 60px;
    width: fit-content;
    text-align: center;
}

.player-card-gutter{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #d6ccc2;
    color: #0d1b2a;
}

/* .player-label{
    float: left;
    background: #ccd5ae;
    color: #0d1b2a;
    border: 2px solid #e9edc9;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
} */

.player-label{
    display: flex;
}

.player-card-heroes{
    display: flex;
}

.player-card-troops{
    display: flex;
    flex-direction: column;
}

.player-card-troop-ico{
    height: 48px;
    width: 48px;
    border: 1px solid #d6ccc2;
    border-radius: 4px;
}

.achievement-star{
    color: gold;
    font-size: 30px;
    font-family: Times;
}

.achievement-progress-div{
    width: fit-content;
    background: orange !important;
}
.achievement-progress-bar{
    width: fit-content;
}

.player-img {
    display: block;
}

.player-img-thumbnail {
    position: relative;
    display: inline-block;
}

.player-thumbnail-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
